---
import Layout from '../layouts/Layout.astro';
import ProfileHeader from '../components/ProfileHeader.astro';
import StatsSection from '../components/StatsSection.astro';
import ActivityGraph from '../components/ActivityGraph.astro';
import AchievementCards from '../components/AchievementCards.astro';
import { profileConfig } from '../config/profile';

---

<Layout title={`${profileConfig.user.name} Profile`}>
	<main class="container mx-auto px-4 py-8 max-w-6xl">
		<ProfileHeader user={profileConfig.user} />
		<StatsSection stats={profileConfig.stats} />
		<ActivityGraph activityData={profileConfig.activityData.contributions} />
		<AchievementCards achievements={profileConfig.achievements} />
	</main>
</Layout>
